shamefully-hoist=true
virtual-store-dir=.pnpm
node-linker=hoisted
registry=https://npm.cnb.cool/avwq/avwq-npm-cnb/-/packages/
//npm.cnb.cool/avwq/avwq-npm-cnb/-/packages/:always-auth=true

# 域级别 auth: 覆盖 CNB 仓库跨组织 tarball 下载
//npm.cnb.cool/:_authToken=${CNB_TOKEN}


CNB_NPM_REGISTRY=https://npm.cnb.cool/avwq/avwq-npm-cnb/-/packages/